.el-button {
  border: none;
}

.el-submenu__title:hover {
  background: none;
}

.el-input__inner {
  border: none;
  background: transparent;
  color: #fff;
}

.el-notification {
  background-color: #333d5c !important;
  border-radius: 0px !important;
  border: none !important;
}

.el-message {
  border: none !important;
  border-radius: 0px !important;
  top: 100px !important;
}
