@import "normalize";
@import "element";
@import "starui";

html,
body,
* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  background-color: #03040b;
}

@font-face {
  font-family: Denmark;
  src: url("../fonts/Denmark Regular.ttf");
}
