@mixin fontRigelstar {
  font-family: Rigelstar;
}

@mixin userNoSelect {
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
}
